<div class="whole-login">
  <div class="object p-grid">
    <div class="p-col-12 p-sm-4">
      <div class="p-grid">
        <div class="p-col-12"><p-radioButton name="group" value="l" label="logowanie" [(ngModel)]="type"></p-radioButton></div>
        <div class="p-col-12"><p-radioButton name="group" value="r" label="rejestracja" [(ngModel)]="type"></p-radioButton></div>
      </div>
    </div>
    <div class="p-col-12 p-sm-7 p-md-5 p-lg-4 p-xl-3">
    <span class="ui-float-label form-field">
      <input [(ngModel)]="email" id="email" type="text" pInputText>
      <label for="email">E-mail</label>
    </span>
      <span class="ui-float-label form-field">
      <input [(ngModel)]="password" id="password" type="text" pInputText>
      <label for="password">Hasło</label>
    </span>
      <span *ngIf="type === 'r'" class="ui-float-label form-field">
      <input [(ngModel)]="repeatPassword" id="repeat-password" type="text" pInputText>
      <label for="repeat-password">Powtórz hasło</label>
    </span>
      <div style="text-align: center">
        <p-button (onClick)="buttonClicked()" [label]="type === 'l' ? 'Zaloguj się' : 'Zarejestruj się'" ></p-button>
      </div>
    </div>
  </div>
</div>
