<div class="whole-list">
  <div class="top-settings object">
    <div class="p-grid"  style="text-align: center">
      <div class="p-col-12 p-md-5">
        <div class="p-grid">
          <div class="p-col-12 p-xl-5">
            <span class="ui-float-label">
              <input id="float-input" type="text" pInputText style="width: 100%">
              <label for="float-input">Szukaj po nazwie:</label>
            </span>
          </div>
          <div class="p-col-12 p-xl-7">
            Cena od
            <p-inputNumber class="price-input" [useGrouping]="false" [(ngModel)]="rangeValues[0]" mode="decimal"></p-inputNumber>
            do
            <p-inputNumber class="price-input" [useGrouping]="false" [(ngModel)]="rangeValues[1]" mode="decimal"></p-inputNumber>
          </div>
        </div>
      </div>
      <div class="p-col-12 p-md-4">
        <div class="p-grid">
          <div class="p-col-12 p-xl-5">
            <button pButton type="button" label="Powrót do ..." class="ui-button-rounded"></button>
          </div>
          <div class="p-col-12 p-xl-7">
            <p-dropdown autoWidth="false" [style]="{width: '100%'}" [options]="subcategories" [(ngModel)]="selectedSubcategory" placeholder="Wybierz podkategorię" [showClear]="true"></p-dropdown>
          </div>
        </div>
      </div>
      <div class="p-col-12 p-md-3">
        <p-dropdown autoWidth="false" [style]="{width: '100%'}" [options]="sortingOptions" [(ngModel)]="sortSelected" placeholder="Sortuj według" [showClear]="true"></p-dropdown>
      </div>
    </div>
    <p-paginator (onPageChange)="changePage($event)" [rows]="rowNumber" [totalRecords]="totalRecords" [rowsPerPageOptions]="[12,24,48]"></p-paginator>
  </div>

  <div class="p-grid products">
    <div class="p-col-12 p-md-6 p-lg-4 p-xl-3 container" *ngFor="let product of products">
      <app-product class="element" [product]="product" (initEvent)="onResize()"></app-product>
    </div>
  </div>
  <div *ngIf="products.length > 0" class="bottom-settings object">
    <p-paginator (onPageChange)="changePage($event)" [rows]="rowNumber" [totalRecords]="totalRecords" [rowsPerPageOptions]="[12,24,48]"></p-paginator>
  </div>
</div>

